<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        <div class="col-sm-2">
                            <a class="btn btn-add btn-sm" th:href="@{/employee/add}"><i
                                    class="fas fa-plus"></i>
                                Thêm mới nhân viên vào dự án</a>
                        </div>
                    </div>
                    <!--                    <div class="input-group">-->
                    <!--                        <form class="search-bar" method="get" th:action="@{/employee/index}" style="display: flex">-->
                    <!--                            <input type="text" class="form-control" placeholder="Tìm kiếm nhân viên" id="searchInput"-->
                    <!--                                   name="textSearch">-->
                    <!--                            <button class="btn btn-primary" type="submit" id="searchButton">Tìm</button>-->
                    <!--                        </form>-->
                    <!--                    </div>-->
                    <!-- Employee table -->
                    <h1>Danh sách nhân viên</h1>

                    <form method="post" th:action="@{/project/add/employee}">
                        <table class="table table-hover table-bordered js-copytextarea" id="sampleTable">
                            <thead>
                            <tr>
                                <!--                                <th style="width: 10px"><input type="checkbox" id="all"></th>-->
                                <th>ID nhân viên</th>
                                <th style="width: 150px">Họ và tên</th>
                                <th>Ngày sinh</th>
                                <th>Giới tính</th>
                                <th>SĐT</th>
                                <th>Chức vụ</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="employee : ${listOfEmployees}">
                                <td th:text="${employee.firstName + ' ' + employee.lastName}"></td>
                                <td th:text="${employee.address}"></td>
                                <td>
                                    <span th:if="${employee.sex == 0}">Nam</span>
                                    <span th:if="${employee.sex == 1}">Nữ</span>
                                </td>
                                <td th:text="${employee.phone}"></td>
                                <td th:text="${employee.position}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <button type="submit">Send</button>
                    </form>
                    <a th:if="${listOfEmployees.hasPrevious()}"
                       th:href="@{/employees/index(page=${listOfEmployees.previousPageable().pageNumber})}">
                        Previous
                    </a>
                    <a th:if="${listOfEmployees.hasNext()}"
                       th:href="@{/employees/index(page=${listOfEmployees.nextPageable().pageNumber})}">
                        Next
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

