<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Super Admin</h2>
    <ul>
        <li><img src="assets/img/profiles/avatar-15.jpg" alt="profile" class="img-table"/></li>
    </ul>
</div>
</div>
<div class="card-body">
    <div class="employee-contents">
        <p>They can see and do everything – best not to have many with this role.</p>
        <a class="btn-addmembers" href="super-admin.html">View Permission</a>
    </div>
</div>
</div>
</body>
</html>