<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="sidebar" id="sidebar" th:fragment="sidebar">
  <div class="sidebar-inner slimscroll">
    <div class="sidebar-contents">
      <div id="sidebar-menu" class="sidebar-menu">
        <div class="mobile-show">
          <div class="offcanvas-menu">
            <div class="user-info align-center bg-theme text-center">
              <span class="lnr lnr-cross  text-white" id="mobile_btn_close">X</span>

              <a href="javascript:void(0)" class="d-block menu-style text-white">
                <div class="user-avatar d-inline-block mr-3">
                  <img th:src="@{/assets/img/profiles/avatar-18.jpg}" alt="user avatar" class="rounded-circle" width="50">
                </div>
              </a>
            </div>
          </div>
          <div class="sidebar-input">
            <div class="top-nav-search">
              <form>
                <input type="text" class="form-control" placeholder="Search here">
                <button class="btn" type="submit"><i class="fas fa-search"></i></button>
              </form>
            </div>
          </div>
        </div>
        <ul>
          <li class="active">
            <a href="index.html"><img th:src="@{/assets/img/home.svg}" alt="sidebar_img"> <span>Dashboard</span></a>
          </li>
          <li>
            <a  th:href="@{/emplyoee/index}"><img th:src="@{/assets/img/employee.svg}" alt="sidebar_img"><span> Employees</span></a>
          </li>
          <li>
            <a th:href="@{/departments/index}"><img th:src="@{/assets/img/company.svg}" alt="sidebar_img"> <span> Department</span></a>
          </li>
          <li>
            <a th:href="@{/project/index}"><img th:src="@{/assets/img/calendar.svg}" alt="sidebar_img"> <span>Project</span></a>
          </li>
          <li>
            <a href="leave.html"><img th:src="@{/assets/img/leave.svg}" alt="sidebar_img"> <span>Leave</span></a>
          </li>
          <li>
            <a href="review.html"><img th:src="@{/assets/img/review.svg}" alt="sidebar_img"><span>Review</span></a>
          </li>
          <li>
            <a href="report.html"><img th:src="@{/assets/img/report.svg}" alt="sidebar_img"><span>Report</span></a>
          </li>
          <li>
            <a href="manage.html"><img th:src="@{/assets/img/manage.svg}" alt="sidebar_img"> <span>Manage</span></a>
          </li>
          <li>
            <a href="settings.html"><img th:src="@{/assets/img/settings.svg}" alt="sidebar_img"><span>Settings</span></a>
          </li>
          <li>
            <a href="profile.html"><img th:src="@{/assets/img/profile.svg}" alt="sidebar_img"> <span>Profile</span></a>
          </li>
        </ul>
        <ul class="logout">
          <li>
            <a href="profile.html"><img th:src="@{/assets/img/logout.svg}" alt="sidebar_img"><span>Log out</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>