<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-wrapper">
        <div class="content container-fluid">
            <h3>Change Password</h3>
            <form th:action="@{/employee/changePassword}" method="post">
                <p th:if="${message}" th:text="${message}" class="text-danger"></p>
                <table>
                    <tr>
                        <td>Old Password:</td>
                        <td><input type="text" name="oldPass"/></td>
                    </tr>
                    <tr>
                        <td>New PassWord:</td>
                        <td><input type="text" name="newPass"/></td>
                    </tr>
                    <tr>
                        <td>Re Password :</td>
                        <td><input type="text" name="rePass"/></td>
                    </tr>
                </table>
                <button type="submit">Change</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>