<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
  <div class="page-wrapper">
    <section class="my-5">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2>Update Employee </h2>
            <form method="post" th:action="@{/employee/updateProfile}" th:object="${employee}" enctype="multipart/form-data">
              <input type="hidden" th:field="*{id}"/>
              <div class="form-group">
                <input type="file" name="img" accept="image/*" class="form-control-file">
              </div>
              <div class="form-group">
                <input type="text" name="firstName" th:field="*{firstName}" class="form-control-file">
              </div>
              <div class="form-group">
                <input type="text" name="lastName" th:field="*{lastName}"  class="form-control-file">
              </div>
              <div class="form-group">
                <input type="text" name="phone" th:field="*{phone}"  class="form-control-file">
              </div>
              <div class="form-group">
                <input type="text" name="address" th:field="*{address}"  class="form-control-file">
              </div>
              <div class="form-group">
                <input type="date" name="birthDate" th:field="*{birthDate}"  class="form-control-file">
              </div>
              <div class="form-group">
                <input type="text" name="citizenCode" th:field="*{citizenCode}"  class="form-control-file">
              </div>
              <div class="form-group">
                <input type="date" name="licenseDate" th:field="*{licenseDate}"  class="form-control-file">
              </div>
              <div class="form-group">
                <input type="text" name="licensePlace" th:field="*{licensePlace}" class="form-control-file">
              </div>
              <button type="submit" class="btn btn-primary">Update</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
</body>
</html>