<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-wrapper">
        <div class="content container-fluid">
            <h3 style="text-align: center; color: #009efb">Create experience</h3>
            <form th:action="@{/experience/add}" method="post" th:object="${experience}">
                <div class="mb-3">
                    <label for="formGroupExampleInput1" class="form-label">OS : </label>
                    <input type="text" class="form-control" id="formGroupExampleInput1" th:field="*{os}">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Language : </label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" th:field="*{language}">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput3" class="form-label">Framework :</label>
                    <input type="text" class="form-control" id="formGroupExampleInput3" th:field="*{framework}">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput4" class="form-label">Link : </label>
                    <input type="text" class="form-control" id="formGroupExampleInput4" th:field="*{link}">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput5" class="form-label">Time Start</label>
                    <input type="date" class="form-control" id="formGroupExampleInput5" th:field="*{timeStart}">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput6" class="form-label">Time End :</label>
                    <input type="date" class="form-control" id="formGroupExampleInput6" th:field="*{timeEnd}">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput7" class="form-label">Team Size :</label>
                    <input type="text" class="form-control" id="formGroupExampleInput7" th:field="*{teamSize}">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput8" class="form-label">Position :</label>
                    <input type="text" class="form-control" id="formGroupExampleInput8" th:field="*{position}">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput9" class="form-label">Word Place :</label>
                    <input type="text" class="form-control" id="formGroupExampleInput9" th:field="*{workPlace}">
                </div>
                <div class="mb-3">
                    <label for="formGroupExampleInput10" class="form-label">Description :</label>
                    <input type="text" class="form-control" id="formGroupExampleInput10" th:field="*{description}">
                </div>
                <button class="btn btn-success" type="submit">Create</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>