<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>$Title$</title>
</head>
<body>
<div layout:fragment="content">
  <div class="page-wrapper">
    <div class="content container-fluid">
      <div class="row">
        <div class="col-xl-12 col-sm-12 col-12 mb-4">
          <div class="breadcrumb-path ">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html"><img th:src="@{/assets/img/dash.png}" class="mr-2" alt="breadcrumb">Home</a>
              </li>
              <li class="breadcrumb-item active"> Update Certificate</li>
            </ul>
            <h3>Update Certificate</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-sm-12 col-12 ">
          <div class="card">
            <div class="card-header">
              <h2 class="card-titles"> Create Certificate  </h2>
            </div>
            <div class="form-creation">
              <form method="post" th:action="@{/employee/certificate/add}" th:object="${certificate}">
                <div class="row">
                  <div class="col-xl-6 col-sm-6 col-12 ">
                    <div class="form-group">
                      <label>Name <span class="mandatory">*</span> </label>
                      <input type="text" th:field="*{name}">
                    </div>
                  </div>
                  <div class="col-xl-6 col-sm-6 col-12 ">
                    <div class="form-group">
                      <label>Certificate Officer</label>
                      <input type="text" th:field="*{certificateOfficer}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-sm-12 col-12 ">
                    <div class="form-group">
                      <label>Issue Date </label>
                      <input type="date" th:field="*{issueDate}">
                    </div>
                  </div>
                  <div class="col-xl-6 col-sm-12 col-12 ">
                    <div class="form-group">
                      <label>Expiration Date</label>
                      <input type="date" th:field="*{expirationDate}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-sm-12 col-12 ">
                    <div class="form-group">
                      <label>Description </label>
                      <textarea rows="4" cols="50" th:field="*{description}">	</textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-sm-12 col-12 ">
                    <div class="form-btn">
                      <button type="submit" class="btn btn-apply">Apply</button>
                      <a th:href="@{'/emplyoee/edit/'+*{employeeId}}" style="padding: 9px 15px;width: 110px" class="btn btn-secondary">Cancel</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>